@media screen and (max-width: 400px) {
  #benefits {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #our-services {
    width: 110%;
  }
}

.logo {
  transform: translateY(-40px); /* Ajusta según se necesite */
}

.gallery-img {
  width: 100%;
  height: 250px; /* o el valor que prefieras */
  object-fit: cover;
  border-radius: 8px; /* opcional */
}

img {
  border-radius: 12px; /* o incluso 8px */
}